<div class="contact-container">
  <h2>Contacto</h2>
  <p>
    ¡Gracias por visitar mi blog! Si quieres ponerte en contacto conmigo, puedes
    usar cualquiera de los siguientes medios de comunicación:
  </p>
  <ul class="contact-list">
    <li>
      <strong>Correo electrónico: </strong>
      <a href="mailto:bosterion2018&#64;gmail.com"
        >bosterion2018&#64;gmail.com</a
      >
    </li>
    <li>
      <strong>WhatsApp:</strong>
      <a href="https://wa.me/573024824806" target="_blank">
        +57 302 482 4806
      </a>
    </li>
  </ul>

  <h3>Redes Sociales</h3>
  <ul class="social-links">
    <li>
      <a href="https://github.com/ing-diego-morales" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
    </li>
    <li>
      <a href="https://x.com/DiegoMoralesNB" target="_blank">
        <i class="fab fa-x-twitter"></i> X
      </a>
    </li>
    <li>
      <a href="https://instagram.com/instashop_morales" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
  </ul>
  <p>
    Gracias por tomarte el tiempo de visitar mi blog y revisar mis medios de
    comunicación. ¡Lo aprecio mucho!
  </p>
</div>
