<div class="container-projects">
  <h1 class="titleh1">Proyectos</h1>
  <p class="containp">
    Estos son algunos de los proyectos en los que he trabajado y entregado con
    éxito. Actualmente se encuentran en funcionamiento y, con el permiso de los
    clientes, puedo compartir una breve descripción de cada uno, junto con sus
    enlaces directos.
  </p>

  <section class="projects-section">
    <div class="project">
      <div class="project-text">
        <h3>DrScreen</h3>
        <p>
          Página de codigos en tiempo real. Consulta los correos en tiempo real
          que llegan a la bandeja principal de Gmail usando el Api de Gmail para
          poder obtener lo necesario y configurar esta página. Cuenta con un
          filtro de asuntos para poder observar solo lo necesario. Plataforma
          bastante segura y útil.
          <br />
          <a href="https://drscreen.host/" target="_blank"
            >Enlace directo a la plataforma.</a
          >
        </p>
      </div>
      <div class="project-image">
        <img src="assets/proyecto1.jpg" alt="Logo Proyecto 1" />
      </div>
    </div>

    <div class="project reverse">
      <div class="project-text">
        <h3>Infinitystr</h3>
        <p>
          Tienda de plataformas digitales de entretenimiento. Ranking mensual
          para todos los usuarios, una administración organizada. Sistema de
          referidos y comisiones. Intento de automatización en la compra y venta
          de plataformas de streaming.
          <br />
          <a href="https://infinitystr.store/" target="_blank"
            >Enlace directo a la plataforma.</a
          >
        </p>
      </div>
      <div class="project-image">
        <img src="assets/proyecto2.jpg" alt="Logo Proyecto 2" />
      </div>
    </div>

    <div class="project">
      <div class="project-text">
        <h3>Codeinstashop</h3>
        <p>
          Bot de códigos en tiempo real. Servicio en alquiler para aquellas
          personas que no tienen los conocimientos para realizarlo. Se ofrece
          seguridad y velocidad en las consultas. Cuenta con una versión en
          página web y bot en Telegram.
          <br />
          <a href="https://codeinstashop.online/" target="_blank"
            >Enlace directo a la plataforma.</a
          >
        </p>
      </div>
      <div class="project-image">
        <img src="assets/proyecto3.jpg" alt="Logo Proyecto 3" />
      </div>
    </div>
  </section>
  <p class="containp">
    He desarrollado diversos tipos de páginas web, participando tanto en el
    frontend como en el backend, y gestionando su despliegue de forma eficiente.
    Garantizo una navegación ágil y una experiencia de usuario fluida. También
    cuento con experiencia en la configuración de dominios, ya sea con
    redirección directa o mediante paneles de control, así como en la
    administración de hosting y propiedad de dominios.
  </p>
</div>
