<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/logoA.png" alt="Logo" />
    </a>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>

  <div class="nav-links" [class.open]="menuOpen">
    <a
      routerLink="/"
      routerLinkActive="activo"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="menuOpen = false"
      >Inicio</a
    >
    <a routerLink="/about" routerLinkActive="activo" (click)="menuOpen = false"
      >Sobre Mí</a
    >
    <a
      routerLink="/projects"
      routerLinkActive="activo"
      (click)="menuOpen = false"
      >Proyectos</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="activo"
      (click)="menuOpen = false"
      >Contacto</a
    >
  </div>
</nav>
